.navbar-brand h3 {
    color: rgb(54, 8, 54);
    font-weight: bold;
   
}
.navbar{
    position: sticky;
    top: 0px;
    z-index: 10;

}
.modal-title {
    font-weight: bold;
    color: purple;
}

form label {
    font-weight: bold;
}

.nav-item button {
    width: 100px;
}

.navbar-box {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
